.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
   
}
 
.image-source {
  display: none;
}
  
.red-slider {
  background-color: green;
  background: linear-gradient(.25turn, #330000, 50%, red); 
}
  
.green-slider {
  background-color: green;
  background: linear-gradient(.25turn, #001400, 50%, green);
}
  
.blue-slider {
  background-color: blue;
  background: linear-gradient(.25turn, #000040, 50%, blue);   
}